body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("https://i.pinimg.com/1200x/c5/11/a0/c511a0da1c76791a3693a875d0c0fd0d.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.mb-5 > .btn{
  border-color: rgba(255, 255, 255, .55);
  
}

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;

  }

}

.navbar-brand {
  padding: .5rem 1rem;
  font-size: 1.25rem;
}